<!DOCTYPE html>
<html>
  <head>
    <title>Preguntas aqui</title>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' 
        type='text/css'
        media='only screen and (min-width: 530px) and (min-device-width: 481px)'
        href='/stylesheets/wide.css' />
  <link rel='stylesheet'
        type='text/css'
        media='only screen and (max-width: 480px)' 
        href='/stylesheets/smartphone.css' />
  </head>

  <body>

    <div id="page_wrap">
      <header class="main" id="h1">
        <h2>Quizo, mas preguntas</h2>
      </header>
      <nav class="main" id="n1" role="navigation">
        <span><a href="/">Inicioo</a></span>
        <span><a href="/quizes/question">Muchas preguntas</a></span>
      </nav>

      <section class="main" id="s1">
      <%- body %>
      </section>

      <footer class="main" id="f1">
        <a href="https://en.wikipedia.org/wiki/Quiz"
          target="_blank">Referenciate</a>
      </footer>

    </div>

  </body>
</html>