<!Doctype html>
<html>
 <head>

  <meta charset="utf-8">
  <title>Quizoss</title>
  <link rel="stylesheet" href="/stylesheets/style.css">

 <head/>
 <body>

  <h2>Quizz el juego de las preguns</h2>

  <p>La respuesta esta: <%= respuesta %> </p>

  <a href="/quizes/question">Intente de nuevvo</a>

 </body>
</html>